.delete {
    color: rgb(0, 0, 0);
  }

  input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    border-radius: 5px;
  }
  
  .grid-item {
    background-color: lightskyblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 10px 20px;
 
}

#notelist-box{
    height: 150px;
    width: 300px;
    background-color: lightskyblue; 
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 5px 10px 20px;

/* #first-row {
    display: flex;
    flex-direction: row; */
}
body {
    padding: 0px;
    margin: 100px;
    background: linear-gradient( to right, #00AAFF, #00FF6c);
    /* display: flex;
    /* justify-content: center;
    align-items: center; */ */

